@model Clientes.Mvc.Models.TelefoneViewModel

<h3>Novo Telefone</h3>

<form id="form-create-telefone">
    <input type="hidden" asp-for="CodigoCliente" />

    <div class="mb-3">
        <label asp-for="NumeroTelefone"></label>
        <input asp-for="NumeroTelefone" class="form-control" />
        <span asp-validation-for="NumeroTelefone" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="CodigoTipoTelefone"></label>
        <select asp-for="CodigoTipoTelefone" class="form-control" asp-items="@(new SelectList(ViewBag.TiposTelefone, "CodigoTipoTelefone", "DescricaoTipoTelefone"))"></select>
    </div>

    <div class="mb-3">
        <label asp-for="Operadora"></label>
        <input asp-for="Operadora" class="form-control" />
    </div>

    <div class="mb-3 form-check">
        <input asp-for="Ativo" class="form-check-input" />
        <label asp-for="Ativo" class="form-check-label"></label>
    </div>

    <button type="submit" class="btn btn-success">Salvar</button>
    <a asp-controller="Clientes" asp-action="Index" class="btn btn-secondary">Voltar</a>
</form>
